.eventList {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem 0;
}

.eventItem {
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: minmax(5rem, auto);

    background: var(--background-secondary);
    border-radius: 0.25rem;
}

.eventDate {
	padding: 0.5rem;
	height: 100%;
    display: grid;
    grid-auto-rows: min-content;
    place-content: center;

    background: white;
    color: rgba(0, 0, 0, .86);
    text-align: center;

    border-radius: 0.25rem 0 0 0.25rem;
}

.eventDay { 
	font-size: 2rem;
	margin-top: 0.75rem;
}
.eventMonth { font-size: 1rem; font-weight: 600; }
hr { width: 100%; }
.eventTime { 
	font-size: 1rem;
	margin: 0.3rem;
}
.eventPlace { font-size: 1rem; }
.eventLinkContainer { color: rgba(205,113,166,1); }
.eventLink { margin: 1rem; }
.eventLink > a { color: rgba(205,113,166,1); }

.eventContent {
    padding: 1rem;
    align-items: center;
}
p b { color: rgba(205,113,166,1); }

.pinkText { 
	color: rgba(205,113,166,1); 
	font-weight: 100;
}

.eventHeader {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 1rem;
}

.eventInfo {
	flex-direction: column;
	align-items: left;
	line-height: 1rem;
}

.eventInfo p {
	line-height: 1.2rem;
}

.eventTags {
	display: flex;
	flex-direction: row;
	align-items: right;
}

.eventTags p {
	justify-content: space-around;
	color: rgba(205,113,166,0.9); /*pink;*/
	border: 1px;
	border-style: double;
	padding: 0 5px 0 5px;
	margin: 0 2px 10px 2px;
	font-size: 12px;
	height: 24px;
	white-space: nowrap;
}

@media (max-width: 700px) {

    .eventItem {
        grid-template-columns: auto;
        grid-template-rows: 13rem auto;
        border-radius: 0 0 0.25rem 0.25rem;
    }

    .eventDate {
        border-radius: 0.25rem 0.25rem 0 0;
    }

	.eventHeader {
		flex-direction: column-reverse;
	}
}
