.header {
    background: url('../assets/sunguk-kim-69wg9vWwPAU-unsplash.jpg') no-repeat center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 30vh;
    position: relative;
    overflow: hidden;
  
    display: grid;
    grid-template-rows: auto min-content;
  
    justify-items: center;
  }
  
  .headerContainer {
	padding: 5%;
	background-color: rgba(35,52,82,0.85);
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-auto-flow: column;
    grid-gap: 2rem;
    place-items: center;
  
    max-width: var(--container-width);
    width: 100%;
  }
  
  .logo {
    display: block;
    max-width: 100%;
  }
  
  .links {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 1rem;
    align-items: center;
  }
  
  .internalLinks {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
  }
  
  .internalLink {
    text-decoration: none;
    background: white;
    border-radius: 0.25rem;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.72);
  
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .externalLinks {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    justify-content: end;
    color: white;
  }
  
  .title {
    color: white;
  }
  
  .description {
    font-size: 1.25rem;
    color: rgba(255,255,255,0.9);/*var(--foreground);*/
    line-height: 1.75rem;
  }

  a:link {
	color: rgba(205,113,166,0.9);
  }

  a:visited {
	color: rgba(176,49,74,0.9);
  }
  
  .trim {
    stroke: none;
    fill: var(--background);
    margin-bottom: -1px;
  }
  
  @media (max-width: 900px) {
    .headerContainer {
      grid-template-columns: none;
      grid-auto-flow: row;
      text-align: center;
      padding: 1rem;
      max-width: 100vw;
    }
  
    .logo {
      max-height: 40vh;
    }
  
    .links {
      justify-content: center;
      grid-template-columns: none;
      grid-auto-flow: row;
    }
  
    .externalLinks {
      justify-content: center;
    }
  
    .internalLink {
      font-size: 0.875rem;
    }
}
