/* Member List */

.memberList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* Members */

.member {
	--avatar-container-size: 200px;
	--avatar-container-padding: 1rem;

    margin: 1.2rem 0;
	padding: 0.3rem;
}

    .avatarContainer {
        width: var(--avatar-container-size);
        height: var(--avatar-container-size);

        border-radius: 50%;
    }
        .avatar {
			position: relative;
        }

            .avatar img {
                display: block;
                width: var(--avatar-container-size);
				height: var(--avatar-container-size);
				object-fit: cover;

                border-radius: 50%;
                border: 0.5rem solid var(--background-secondary);
            }

			.avatar:hover {
				-webkit-filter: contrast(150%);
				filter: contrast(150%);
			}

    /* Member Details - The area below the profile picture */

    .details {
        display: grid;
        grid-gap: 0.25rem;

		max-width: var(--avatar-container-size);
        text-align: center;
    }

        .name {
            font-size: 1rem;
        }

        .title {
            font-size: 0.75rem;
            font-weight: 500;
            color: var(--foreground-secondary);
        }

@media (max-width: 700px) {
	.member {
		--avatar-container-size: 130px;
		--avatar-container-padding: 1.5rem;
		padding: 1rem;
	}
		.avatarContainer {
			width: var(--avatar-container-size);
			height: var(--avatar-container-size);

			margin: auto;
			border-radius: 50%;
    	}
		.title {
			max-width: var(--avatar-container-size);
		}
		.name {
			max-width: var(--avatar-container-size);
		}
}
